<div class="headline">
<div class="row g-0">
  <div class="col-sm-4 col-md-6">Grocery Items</div>
 </div>
</div>

<div class="card" style="width: 14rem;">
    <img [src]="good.imgSrc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{good.name}}</h5>
      <p class="card-text">Title : {{good.title ? good.title:"No information Available"}}  </p>
      <p class="card-text">Price :
        <ng-container *ngIf="good.price"> {{good.price}}</ng-container>
        <ng-container *ngIf="!good.price"> Not Avaiable</ng-container>
        </p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
